<div class="row">
	
	<div class="col-md-6">
		<h1>Clients</h1>
		<a ui-sref="clients.detail({id: 'new'})" class="btn btn-primary space"><span class="glyphicon glyphicon-plus"></span> Add Client</a>
		<table ng-show="hasClients()" class="table">
			<tr>
				<th>Name</th>
				<th>Created</th>
			</tr>
			<tr ng-repeat="client in clients">
				<td><a ui-sref="clients.detail({id: '{{client.id}}'})">{{client.name}}</a></td>
				<td>{{fromNow(client.createdAt)}}</td>
			</tr>
		</table>
		<h4 ng-hide="hasClients()">No clients yet.</h4>
	</div>

	<div class="col-md-6">
		<div ui-view></div>
	</div>
	
</div>