<div ng-hide="isEditMode">
	<h3>{{client.name}}</h3>
	<div>{{client.email}}</div>
	<button ng-click="edit()" class="btn">Edit</button>
</div>

<form ng-show="isEditMode">
	<div class="form-group">
		<label>Name</label>
		<input ng-model="name" class="form-control" />
	</div>
	<div>
		<label>Email</label>
		<input ng-model="email" class="form-control" />
	</div>
	<div style="margin-top: 30px;">
		<button ng-click="save()" class="btn btn-success">Save</button>
		<button ng-click="cancel()" ng-show="client.id" class="btn">Cancel</button>
		<button ng-click="delete()" ng-show="client.id" class="btn btn-danger">Delete</button>
	</div>
</form>