<div class="row">
	
	<div class="col-md-6">
		<h1>Forms</h1>
		<a ui-sref="forms.detail({id: 'new'})" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Form</a>
		<table ng-show="hasForms()" class="table">
			<tr>
				<th>Title</th>
				<th>Created</th>
			</tr>
			<tr ng-repeat="form in forms">
				<td><a ui-sref="forms.detail({id: '{{form.id}}'})">{{form.title}}</a></td>
				<td>{{fromNow(form.createdAt)}}</td>
			</tr>
		</table>
		<h4 ng-hide="hasForms()">No forms yet.</h4>
	</div>
	
	<div class="col-md-6">
		<div ui-view></div>
	</div>
	
</div>