<div class="jumbotron">
  <h1>Signet</h1>
  <p class="lead">
    Manage your online signatures with signet
  </p>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">Completed Signatures</div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Client</th>
              <th>Date</th>
            </tr>
            <tr ng-repeat="s in completedSignatures">
              <td>{{s.name}}</td>
              <td>{{s.date}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Awaiting Client Signature</div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Client</th>
              <th>Date</th>
            </tr>
            <tr ng-repeat="s in completedSignatures">
              <td>{{s.name}}</td>
              <td>{{s.date}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading">Awaiting Owner Signature</div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Client</th>
              <th>Date</th>
            </tr>
            <tr ng-repeat="s in completedSignatures">
              <td>{{s.name}}</td>
              <td>{{s.date}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>