<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<h2 ng-cloak>{{signature.title}}</h2>
		<p ng-cloak>{{signature.body}}</p>
		
		<uib-alert ng-show="!signature.clientSignature && isAuthenticated" type="warning" style="margin-top: 30px;">
			Awaiting client signature
		</uib-alert>
		<div ng-show="!signature.clientSignature && !isAuthenticated">
			<signature-pad signature-pad="clientPad"></signature-pad>
			<button ng-click="submitClientSignature()"  class="btn btn-success">Submit</button>
		</div>
		<div ng-show="signature.clientSignature" style="margin-top: 30px;">
			<h4>Client Signature</h4>
			<img ng-src="{{signature.clientSignature}}"/>
		</div>
		
		<uib-alert ng-show="signature.clientSignature && !signature.ownerSignature && !isAuthenticated" type="warning" style="margin-top: 30px;">
			Awaiting owner signature
		</uib-alert>
		<div ng-show="signature.clientSignature && !signature.ownerSignature && isAuthenticated">
			<signature-pad signature-pad="ownerPad"></signature-pad>
			<button ng-click="submitOwnerSignature()"  class="btn btn-success">Submit</button>
		</div>
		<div ng-show="signature.ownerSignature" style="margin-top: 30px;">
			<h4>Owner Signature</h4>
			<img ng-src="{{signature.ownerSignature}}"/>
		</div>
	</div>
</div>