<div class="row">
	
	<div class="col-md-8">
		<h1>Signatures</h1>
		<a ui-sref="signatures.detail({id: 'new'})" class="btn btn-primary space"><span class="glyphicon glyphicon-plus"></span> Add Signature</a>
		<table ng-show="hasSignatures()" class="table">
			<tr>
				<th>Name</th>
				<th>Form</th>
				<th>Status</th>
				<th>Created</th>
				<th></th>
			</tr>
			<tr ng-repeat="signature in signatures">
				<td>{{signature.name}}</td>
				<td>{{signature.title}}</td>
				<td class="{{getStatusClass(signature)}}">{{getStatus(signature)}}</td>
				<td>{{fromNow(signature.createdAt)}}</td>
				<td><a ui-sref="signatures.detail({id: '{{signature.id}}'})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></td>
			</tr>
		</table>
		<h4 ng-hide="hasSignatures()">No signatures yet.</h4>
	</div>

	<div class="col-md-4">
		<div ui-view></div>
	</div>
	
</div>